@use '../../styles/vars';

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0%;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 2rem 0 1rem;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-image {
    width: 13%;
  }

  &__logo-title {
    font-family: vars.$second-font;
    font-size: 2rem;
  }
}

.menu {
  &-link {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;

    &:hover {
      color: rgb(31, 203, 241);
    }
  }
}